DeploymentFiles/.env
Backups
Backups/**
Backups/**/**
.secrets/**
.secrets/**/**
Archive
Archive/**
Archive/**/**
OtherFiles
OtherFiles/**
OtherFiles/**/**
Screenshots/Prod
Screenshots/Prod/**
Screenshots/Prod/**/**
Scripts/Gitlab
Scripts/Gitlab/**
Scripts/Gitlab/**/**
*.crt
*.secrets
*.pass
*.txt
.env
.gitlab-ci.yml