DeploymentFiles/.env
HelperScriptFiles/InstallFiles/Debinstalls/**
HelperScriptFiles/InstallFiles/Debinstalls/**/**
HelperScriptFiles/InstallFiles/*Install*.md
HelperScriptFiles/InstallFiles/*Installnstall*.md
Backups
Backups/**
Backups/**/**
.secrets/**
.secrets/**/**
Archive
Archive/**
Archive/**/**
OtherFiles
OtherFiles/**
OtherFiles/**/**
Screenshots/Prod
Screenshots/Prod/**
Screenshots/Prod/**/**
Scripts/Gitlab
Scripts/Gitlab/**
Scripts/Gitlab/**/**
*.crt
*.secrets
*.pass
*.txt
.env
.gitlab-ci.yml